%%{init: {'theme': 'default'}}%%
%% FlowMem | type=pie | layer=quality | method=script | refresh=.flowmem/scripts/scan_files.sh | last-updated={{DATE}} %%
pie showData
    title {{PIE_TITLE}}
    {{PIE_SLICES}}
