%%{init: {'theme': 'default'}}%%
%% FlowMem | type=mindmap | layer=quality | method=script | refresh=.flowmem/scripts/scan_todos.py | last-updated={{DATE}} %%
mindmap
  root((Tech Debt))
    {{TODO_BRANCHES}}
