%%{init: {'theme': 'default'}}%%
%% FlowMem | type=kanban | layer=project | method=ai | refresh=none | last-updated={{DATE}} %%
kanban
    Backlog
        {{BACKLOG_TASKS}}
    In Progress
        {{ACTIVE_TASKS}}
    Done
        {{DONE_TASKS}}
